/* VARIABLES */

/* -- colors */

@steel: #F3F3F3;
@bright: #F8DF1F;
@inyourface: #EE252F;
@dark: #080801;
@link-color: #050500;

/* -- fonts */

@bob-font: 'Roboto', sans-serif;

/* HEADER */

header {
    height: 500px;
}

/* -- nav */

nav {
    height: 150px;
    background-color: @bright;
    a {
        font-family: @bob-font;
        font-size: 18px;
        color: @link-color;
        font-weight: 500;
    }
}

.nav-link {
    color: @link-color;
}

#calltoaction {
    color: @inyourface;
    text-transform: uppercase;
}

#navbarNav {
    background-color: @bright;
}

/* -- promo */
#promo {
    height: 350px;
    background-image: url(../img/banner-bg.png);
}

/* MEDIA QUERIES */

/* @media only screen and (max-width : 420px) {
    .navbar-collapse {
    background: @steel;
  }
}*/


